body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle, #1b1b1b, #000);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: #fff;
}

.coin-container {
  perspective: 1000px;
}

.coin {
  width: 290px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.coin img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.tails {
  transform: rotateY(180deg);
}

button {
  margin-top: 25px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: #00ff99;
  color: #111;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #00cc77;
}

#result {
  margin-top: 20px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}